/* footer {
  font-size: smaller;
  top:100vh;
  transform:translateY(-100%);
  position:absolute;
} */

.multiselect {
    width: 200px;
  }
  
  .selectBox {
    position: relative;
  }
  
  .selectBox select {
    width: 100%;
    font-weight: bold;
  }
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
 .checkboxes {
    display: none;
    border: 1px #dadada solid;
  }
  
  .checkboxes label {
    display: block;
  }
  
  .checkboxes label:hover {
    background-color: #1e90ff;
  }