<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MainPage</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <section>
   <form method="POST">
       <!-- Name -->
       <label for="Name">Name: </label>
       <input type="text" name="Name" value="{{ @activeMission->Name }}" required />
       <br>

       <!-- Type -->
       <label for="Type">Type: </label>
       <input list="types" name="Type" value="{{ @activeMission->Type }}" required />
       <datalist id="types">
            <repeat group="{{ @missions->GetUniqueProperties('Type') }}" value="{{ @Type }}">
                <option value="{{@Type}}">{{@Type}}</option>    
            </repeat>
       </datalist>
       <br>

         <!-- Source -->
         <label for="Source">Source: </label>
         <input name="Source" list="sources" value="{{ @activeMission->Source }}" required />
         <datalist id="sources">
              <repeat group="{{ @missions->GetUniqueProperties('Source') }}" value="{{ @Source }}">
                  <option value="{{@Source}}">{{@Source}}</option>    
              </repeat>
         </datalist>
         <br>

           <!-- Campaigns -->
           <label for="Campaigns">Campaigns: </label>
           <input name="Campaigns" list="campaigns" value="{{ @activeMission->Campaigns }}" />
           <datalist id="campaigns">
                <repeat group="{{ @missions->GetUniqueProperties('Campaigns') }}" value="{{ @Campaigns }}">
                    <option value="{{@Campaigns}}">{{@Campaigns}}</option>    
                </repeat>
           </datalist>
           <br>

           <!-- Page -->
       <label for="Page">Page: </label>
       <input name="Page" value="{{ @activeMission->Page }}" required />
        <br>
      
       <!-- Points -->
       <label for="Points">Points: </label>
       <input list="points" name="Points" value="{{ @activeMission->Points }}" required />
       <datalist id="points">
            <repeat group="{{ @missions->GetUniqueProperties('Points') }}" value="{{ @Points }}">
                <option value="{{@Points}}">{{@Points}}</option>    
            </repeat>
       </datalist>
       <br>

         <!-- ScoutPhase -->
         <label for="ScoutPhase">ScoutPhase: </label>
         <input name="ScoutPhase" list="scoutphases" value="{{ @activeMission->ScoutPhase }}" required />
         <datalist id="scoutphases">
             <repeat group="{{ @missions->GetUniqueProperties('ScoutPhase') }}" value="{{ @ScoutPhase }}">
                 <option value="{{@ScoutPhase}}">{{@ScoutPhase}}</option>    
             </repeat>
         </datalist>
         <br>

        <!-- Commander -->
        <label for="Commander">Commander: </label>
        <input name="Commander" list="commanders" value="{{ @activeMission->Commander }}" required />
        <datalist id="commanders">
            <repeat group="{{ @missions->GetUniqueProperties('Commander') }}" value="{{ @Commander }}">
                <option value="{{@Commander}}">{{@Commander}}</option>    
            </repeat>
        </datalist>
        <br>

       <!-- Players -->
       <label for="Players">Players: </label>
       <input name="Players" list="players" value="{{ @activeMission->Players }}" required />
       <datalist id="players">
           <repeat group="{{ @missions->GetUniqueProperties('Players') }}" value="{{ @players }}">
               <option value="{{@players}}">{{@players}}</option>    
           </repeat>
       </datalist>
       <br>

         <!-- Description -->
         <label for="Description">Description: </label>
         <input name="Description" list="descriptions" value="{{ @activeMission->Description }}" />
         <datalist id="descriptions">
             <repeat group="{{ @missions->GetUniqueProperties('Description') }}" value="{{ @Description }}">
                 <option value="{{@Description}}">{{@Description}}</option>    
             </repeat>
         </datalist>
         <br>

        <check if="{{ @activeMission }}">
            <true>
                <button type="submit" name="Update" formaction="{{@BASE}}/update/{{@activeMission->Id}}">Update</button>
                <button type="submit" name="Delete" formaction="{{@BASE}}/delete/{{@activeMission->Id}}" onclick="return confirm('Do you really wand to delete the mission?')">Delete</button>
            </true>
            <false>
                <button type="submit" name="Create">Create</button>
            </false>
        </check>

        <button type="button" onclick="window.location.href = '{{@BASE}}/add'">Clear form</button>

       
    </form>
    </section> 

    <section>
    <ul>
    <repeat group= "{{@missions->Missions}}" value="{{@mission}}">        
        <li><a href="{{@BASE}}/add/{{@mission->Id}}">{{@mission->Name}} ({{@mission->Source}} {{@mission->Page}})</a></li>
    </repeat>
    </ul>
    </section>
</body>

</html>