<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kill Team Mission Selector</title>
    <link rel="stylesheet" href="{{@UI.'css/mission.css'}}">
    <script src="{{@UI.'js/code.js'}}"></script>
</head>

<body>
    <h1>Kill Team Mission Selector</h1>
   <form id="missionFilter">
        <h2>Filtering</h2>
    <!-- Type -->
        <!-- <label for="Type">Type:</label>
        <select name="Type[]" multiple>
            <repeat group="{{ @missionsDB->GetUniqueProperties('Type') }}" value="{{ @Type }}">
                <option value="{{@Type}}"" {{ in_array(@Type,(array)@GET["Type"])?"selected":"" }}>{{@Type}}</option>    
                    </repeat>
        </select> -->

        <repeat group="{{ @filterOrder }}" value="{{ @Property }}"></repeat>
        <!-- Type Checkbox -->
        <div class="multiselect">
            <!-- Visible selections -->
            
            <div class="selectBox" onclick="{{ "ToggleVisibility('" .@Property. "CheckBoxes');" }}">
              <select>
                <option>{{"@Property @countedProperty[@Property]"}}</option>
              </select>
              <div class="overSelect"></div>
            </div>
            
            <!-- Drop down alternatives -->
            <div id="{{@Property.'CheckBoxes'}}" class="checkboxes">
                <repeat group="{{ @missionsDB->GetUniqueProperties(@Property) }}" value="{{ @Option }}">
                    <label for="{{@Option}}">
                        <input type="checkbox" value="{{@Option}}" id="{{@Option}}" name="{{@Property.'[]'}}"  {{ in_array(@Option,(array)@GET[@Property])?"checked":"" }}>{{@Option}}</input>
                    </label>  
                </repeat>
            </div>
        </div>
        </repeat>  
        
        <br>
        <button type="submit">Get random mission</button>
        <button type="submit" name="showall" value="1">Show All</button>
        <button type="button" onclick="window.location.replace(location.pathname);" name="clear">Clear Filter</button>
    </form>

    <button onclick="ToggleVisibility('missionFilter')">Hide/Show filter</button>



    <hr>
    <table>
        <thead>
            <tr>
                <td><a href="">Name</a></a></td>
                <td><a href="">Type</a></td>
                <td><a href="">Points</a></td>
                <td><a href="">ScoutPhase</a></td>
                <td><a href="">Commander</a></td>
                <td><a href="">Players</a></td>
                <td><a href="">Description</a></td>
                <td><a href="">Campaigns</a></td>
                <td><a href="">Source</a></td>
                <td><a href="">Page</a></td>
            </tr>
        </thead>
        <tbody>                
            <check if="{{@showAll}}">
                <true>
                    <repeat group="{{ @missions->Missions }}" value="{{ @mission }}">
                        <tr class="mission">
                            <td>{{ @mission->Name }}</td>
                            <td>{{ @mission->Type }}</td>
                            <td>{{ @mission->Points }}</td>
                            <td>{{ @mission->ScoutPhase }}</td>
                            <td>{{ @mission->Commander }}</td>
                            <td>{{ @mission->Players }}</td>
                            <td>{{ @mission->Description }}</td>
                            <td>{{ @mission->Campaigns }}</td>
                            <td>{{ @mission->Source }}</td>
                            <td>{{ @mission->Page }}</td>
                        </tr>
                    </repeat>
                </true>
                <false>
                    <tr class="mission">
                        <td>{{ @selectedMission->Name }}</td>
                        <td>{{ @selectedMission->Type }}</td>
                        <td>{{ @selectedMission->Points }}</td>
                        <td>{{ @selectedMission->ScoutPhase }}</td>
                        <td>{{ @selectedMission->Commander }}</td>
                        <td>{{ @selectedMission->Players }}</td>
                        <td>{{ @selectedMission->Description }}</td>
                        <td>{{ @selectedMission->Campaigns }}</td>
                        <td>{{ @selectedMission->Source }}</td>
                        <td>{{ @selectedMission->Page }}</td>
                    </tr>
                </false>
            </check>
        </tbody>
    </table>

<!--   
    <footer>
        <hr>
        <a href="https://bitbucket.org/Reaxx/kill-team-mission-selector/src/master/" target="blank">KT Mission Selector Repo</a>
    </footer>   -->
    
</body>


</html>